<div>
  <form id='changePasswordForm'>
    <div>
     <label>Email</label>
    <input name="email" />
    <br />
    <label>Nueva Contraseña</label>
    <input name="password" />
    <input type="submit" />
  </form>
  <p>¿Tienes cuenta de Github?
    <a href="/github/login">Has login desde ahi</a></p>
  <p>No estas registrado?<a href='/users/register'>Inicia aqui</a></p>
</div>
<script src='/js/changePassword.js'></script>