<div>
  <h1>Logueate</h1>
  <a href="/api/sessions/github"><button>Entrar con Github</button></a><br />
  <h2>No quieres usar Github?</h2>
  <p>Registrate <a href="/users/register">aqui</a></p>
  <p>Logueate <a href="/users/login">aqui</a></p>
</div>