<div>
  <div>
    <h1>Estos son los productos disponibles!</h1>
  </div>
  <div>
    {{#each this}}
       <article>
        <h2>{{title}}
            <p>{{description}}</p>
                <h3> {{price}}
                    <p>{{stock}}</p>
                </h3>
            </p>
        </h2>
       </article>
    {{/each}}
  </div>
</div>
