<h1>Usa nuestro chat!</h1>
<div>
  <div>
    <p>
      escribe tu mensaje:
      <input id="chatBox" type="text" />
    </p>
  </div>
  <div>
    <p id="messageLog"></p>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/message.js"></script>