<div>
  <h1>Tu perfil (sin datos sensibles)</h1>
  <p>{{user.user.name}}</p>
  <p>{{user.user.email}}</p>
  <p>{{user.user.age}}</p>
  <button id="logout">Log Out</button>
</div>
<script src="/js/logout.js"></script>