<html>
  <head>
    <title>Mi Handlebars Layout</title>
    <link rel="stylesheet" href="../../{{style}}" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {{{body}}}
  </body>
</html>